main {
    font-family: Verdana, sans-serif;
    margin: 25px;
    height: 100%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #002d01;
    font-size: 53px;
    margin: 0 auto 32px;
    width: 100%;
    text-align: center;
}
h2{
    font-size: 35px;
    color: #002d01;
    margin-bottom: 25px;
    text-align: center;
    padding: 8px;
}
#appointments{
    margin-top: 35px;
    padding: 0 0 35px;
}
.grid-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

.grid-list li {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 23px;
    width: 180px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 160px;
}

.grid-list li:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
}

button {
    margin-top: 10px;
    padding: 12px;
    background-color: #14cb17;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
}

button.cancel {
    background-color: rgb(121, 0, 0);
}
#booked-slots.grid-list li {
    width: 200px;
    height: 150px;
    overflow-y: scroll;
}

#booked-slots.grid-list span {
    display: -webkit-box; 
    line-clamp: 5; 
    -webkit-box-orient: horizontal;
    overflow: hidden;
    text-overflow: ellipsis; 
    word-wrap: break-word; 
    white-space: normal;
    max-height: 100px;
}
.seletor-agendamentos {
    margin: 20px auto;
    padding: 16px;
    text-align: center;
    
}
.h2-selecione {
    font-size: 35px;
    color: #14cb17;
    margin-bottom: 12px;
    text-align: center;
}
#day-selector {
    width: 20%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #14cb17;
    border-radius: 5px;
    background-color: #fff;
    color: #000000;
    cursor: pointer;
    max-width: 300px;
}

#day-selector:hover,
#day-selector:focus {
    border-color: #14cb17;
    box-shadow: 0 0 8px rgba(2, 14, 235, 0.3);
}
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.hidden {
    display: none !important;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
}
@media (max-width:1024px) {
    #day-selector {
        width: 50%;
    }
}