body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4; 
    align-items: center;
    justify-content: center;
    margin: 0;

}
main{
    display: flex;
    height: calc(100vh - 325px);
    justify-content: center;
    align-items: center;
    margin: auto;
}
.container {
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    width: 78%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

h2 {
    color: #002d01;
}

input[type="email"] {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #002d01;
    color: white;
    padding: 16px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #002d01;
}
.message {
    margin-top: 26px;
    font-size: 18px;
    color: #002d01;
}