.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
.container h1{
    color: #006B64;
    font-family: 'Arial', sans-serif;
    text-align: center;
}
.container p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: rgb(255, 3, 3);
    margin-bottom: 20px;
}
.video_naf_sobre {
    display: block;
    margin: 0;
    max-width: 100%;
    border-radius: 10px;
    width: 100%;
    height: 500px;
    margin-bottom: 32px;
}
.video_unifeso {
    display: flex;
    align-items: center;
}
video{
    border-radius: 10px;
}
.conteudo_unifeso{
    width: auto;
    font-size: 18px;
    margin-left: 16px;
    background-color: #002d01;
    padding: 20px;
    border-radius: 10px;
}
.conteudo_unifeso p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
h2{
    color: white;
    text-align: center;
    margin: 20px;
}
@media (max-width:1024px) {
    .video_unifeso {
        flex-direction: column-reverse;
        gap: 10px;
        margin-left: 0;
    }
    .conteudo_unifeso {
        margin-left: 0;
    }
}