body {
    font-family: 'Verdana', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    height: calc(100vh - 337px);
    justify-content: center;
    align-items: center;
    margin: auto;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #14a040;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.subtitulo_h1{
    color: #000000;
    font-size: 21px;
}
h2 {
    color: #14a040;
    font-size: 2em;
    margin-bottom: 20px;
}
.nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.divbtn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.btn {
    background-color: #14a040;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #14a040;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}
input[type="text"], input[type="number"], input[type="password"], input[type="email"] {
    padding: 10px;
    width: 300px;
    border: 2px solid #14a040;
    border-radius: 8px;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    outline: none;
    border-color: #14a040;
}
.button_colaborador {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #14a040;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.button_colaborador:hover {
    background-color: #14a040;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.button_submit{
    background-color: #14a040;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #14a040;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.button_submit:hover {
    background-color: #ffffff;
    color: #14a040;
}
.button_cadastrar,
.button_recuperacaoSenha {
    color: #14a040;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.button_cadastrar:hover,
.button_recuperacaoSenha:hover {
    text-decoration: underline;
}
@media (max-width:1024px) {
    main{
        flex-direction: column;
        height: 100%;
    }
}
